$screensm: 768px;
$screenmd: 992px;
$screenlg: 1200px;

.container {
    margin: 10px 10px;

    @media (min-width: $screensm) {
        margin: 10px 30px;
    }
}

.btn-link {
    text-decoration: none;
    color: black;

    &.active {
        text-decoration: underline;
        font-weight: bold;
    }

    &:hover {
        text-decoration: underline;
    }
}

.menu {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;

    &__menu-item {
        padding: 10px 5px;
        justify-content: space-evenly;
    }
}

.products {
    margin: 10px 0;
    padding: 0;
    list-style-type: none;

    &__product-item {
        padding: 10px 0;

        .desc {
            margin: 15px;
        }
    }
}

.search {
    height: 25px;
    width: 200px;
    border-radius: 3px;
}
